# Importing Modules

In [2]:
import pandas as pd

In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [14]:
data_path = '../data/fellows.csv'

In [15]:
df = pd.read_csv(data_path, index_col=0)

In [16]:
df.head()

,email,user_id,first_name,last_name,num_solved,num_accepts,num_submissions,solved_percentage,points,finished_contests,contest_rating,global_ranking,date
0,NaN,zl1761,NaN,NaN,111,322,569,56.6,109,0,NaN,NaN,2018-12-14
1,NaN,hideaki,NaN,NaN,241,386,836,46.2,99,3,1449.0,33634 / 77328,2018-12-14
2,NaN,oreki47,NaN,NaN,30,57,139,41.0,19,0,NaN,NaN,2018-12-14